/* Here is a CSS comment */
p{
	color: #4B0082;
}
	
p2{
	color: #cf4cc4;
	text-shadow: 3px 3px #228a48;
}

p3{
	color: #4b0082;
	text-decoration-line: overline underline;
	text-decoration-color: #cf4cc4
}

	
	

	
	


